ion-toggle {
    height: 24px; /* set the height to a fixed value, adjust as needed */
}

.home-image {

    max-width: 80%;
    margin: 0 auto;
}

.home-button-container{

    display: flex;
    justify-content: center;
    align-items: center;

}
