.topBarHeader {
    height: 180px;
    width: 90%;

}


.centerRowItem{
    justify-content: space-evenly
}



.backgroundColor{
    background: #F7ECE1;

}


.billCards {
    --background: #F7ECE1;
    max-width: 170px;
    max-height: 150px;

}
ion-content {
    padding-top: 80px; /* adjust the value as needed */
}
.billScreen{
    --background: #F7ECE1;
}

.homeScreen{
    --background: #ffffff;
}


.billsTopBar{
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.billList{
    padding: 20px;
}

.item-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    padding-right: 16px;
}

.item-date {
    font-size: 12px;
    color: #999;
    margin-right: 16px;
}

.item-price {
    font-weight: bold;
    font-size: 16px;
    color: #333;
}

.menuBar{
    --background: #ff8109;

}


.container {

    display: flex;
    overflow-x: auto;
    width: 100vw;
    /*height: 200px;*/
}

.billCards {
    display: inline-block;
    margin-right: 1rem;
    width: 300px;
}

ion-scroll {
    display: flex;
    justify-content: center;
    align-items: center;
}

ion-card-header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.listList{
    /*--background: #F7ECE1;*/
}

.modalHead{
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    --background: #F7ECE1;
    line-height: 0.3;
}

.headerBills{
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    --background: #ffffff;
    line-height: 0.3;
}
